body {
  background: linear-gradient(to right, rgb(16, 16, 16) 50%, rgb(28, 28, 28) 50%);
}

/* Header Styles/ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: none;
  padding: 0 20px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  cursor: pointer;
  margin-left: 60px;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.menu-text {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
}

.menu {
  display: none;
  position: absolute;
  top: 80px;
  right: 0;
  background-color: none;
  padding: 20px;
  list-style: none;
}

.menu li {
  margin-bottom: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.show {
  display: block;
}

.logo img {
  height: 40px;
}

/* Section */
.developer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.logo img {
  height: 100px;
}

.title {
  font-size: 50px;
  margin: 20px 0;
  text-align: center;
  color: #e6a627;
}

.title-line {
  width: 20px;
  height: 5px;
  background-color: #ffffff;
  border: none;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 30px;
  text-align: center;
  margin: 0;
  color: #eddcbb;
}
